{% extends 'base.html.twig' %}
{% block header_parent %}{% endblock %}

{% block body %}
    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link active" href="{{ path('app_home') }}">Home</a></li>
            <li><a class="nav-link scrollto menu" href="#appetizer">appetizers</a></li>
            <li><a class="nav-link scrollto menu" href="#main_dish">main dishes</a></li>
            <li><a class="nav-link scrollto menu" href="#dessert">desserts</a></li>
            <li><a class="nav-link scrollto menu" href="#drinks">drinks</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>


    </nav>

    <div class="container">

        <div class="section-title">
            <h2>Menu Cart</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>



        <!-- ======= Appetizer Section ======= -->
        <section id="apetizer" class="team">
            <div class="row no-gutters">
                <h2>Appetizers</h2>

                {% for dish in dishes %}
                    {% if dish.category.id is same as(1) %}
                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="menu-box">
                                <h4 class="title"><a href="">{{ dish.name }}</a></h4>
                                <img class="menuImg" src="{{ asset('images/' ~ dish.image) }}" alt="{{ dish.name }}">
                                <p>OrderNr. {{ dish.id }}</p>
                                <h6 class="description">{{ dish.description }} </h6>
                                <h4 class="title"><a href=""> € {{ dish.price }} </a></h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </section><!-- End Appetizer Section -->

        <!-- ======= main_dish Section ======= -->
        <section id="main_dish" class="team">
            <div class="row no-gutters">
                <h2>Main Dishes</h2>

                {% for dish in dishes %}
                    {% if dish.category.id is same as(2) %}
                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="menu-box">
                                <h4 class="title"><a href="">{{ dish.name }}</a></h4>
                                <img class="menuImg" src="{{ asset('images/' ~ dish.image) }}" alt="{{ dish.name }}">
                                <p>OrderNr. {{ dish.id }}</p>
                                <h6 class="description">{{ dish.description }} </h6>
                                <h4 class="title"><a href=""> € {{ dish.price }} </a></h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </section><!-- End main_dish Section -->

        <!-- ======= desserts Section ======= -->
        <section id="dessert" class="team">
            <div class="row no-gutters">
                <h2>Desserts</h2>

                {% for dish in dishes %}
                    {% if dish.category.id is same as(3) %}
                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="menu-box">
                                <h4 class="title"><a href="">{{ dish.name }} </a></h4>
                                <img class="menuImg" src="{{ asset('images/' ~ dish.image) }}" alt="{{ dish.name }}">
                                <p>OrderNr. {{ dish.id }}</p>
                                <h6 class="description">{{ dish.description }} </h6>
                                <h4 class="title"><a href=""> € {{ dish.price }} </a></h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </section><!-- End dessert Section -->

        <!-- ======= desserts Section ======= -->
        <section id="drinks" class="team">
            <div class="row no-gutters">
                <h2>Drinks</h2>

                {% for dish in dishes %}
                    {% if dish.category.id is same as(4) %}
                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="menu-box">
                                <h4 class="title"><a href="">{{ dish.name }} </a></h4>
                                <img class="menuImg" src="{{ asset('images/' ~ dish.image) }}" alt="{{ dish.name }}">
                                <p>OrderNr. {{ dish.id }}</p>
                                <h6 class="description">{{ dish.description }} </h6>
                                <h4 class="title"><a href=""> € {{ dish.price }} </a></h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </section><!-- End drinks Section -->




    </div>





{% endblock %}
