{% extends 'base.html.twig' %}


{% block body %}
    {% for message in app.flashes('deleted') %}
        <div class="alert alert-success">
            <h3>{{ message }} </h3>
        </div>
    {% endfor %}


    <br>
    <div class="container">
        <h2>Edit dishes</h2>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Order Nr.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Delete</th>
                <th><a href="{{ path ('app_dish_create') }}">Create</a></th>
            </tr>
            </thead>
            <tbody>
            {% for dish in dishes %}
                <tr>
                    <td>{{ dish.id }}</td>
                    <th><a href="{{ path ('app_dish_show', {id: dish.id}) }}">{{dish.name}}</a></th>
                    <td>{{ dish.description }}</td>
                    <td>{{ dish.price }}</td>
                    <th><a href="{{ path ('app_dish_delete', {id: dish.id}) }}">x</a></th>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
